body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
@media screen and (max-width: 1200px) {
    .img-wrapper {
        display: none;
    }
}

#midd {
    align-items: end;
    display: flex;
    justify-content: center;
}

#mid {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    backdrop-filter: blur(80px);
    position: relative;
    background: transparent;
}



#checkboxId {
    position: relative;
}

.img-wrapper {
    position: relative;
}

    .img-wrapper > img {
        position: relative;
        display: inline-block;
    }



#space {
    padding: 15px;
}

body {
    /* The image used */
    background-image: url("https://img.freepik.com/free-photo/corporate-management-strategy-solution-branding-concept_53876-167088.jpg?w=740&t=st=1686642469~exp=1686643069~hmac=a388d2c5454371fb5916769c77707fa76277b62e64c81c10b18dbb32af6a4b56");
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-size: cover;
    background-position: center;
    /* Center and scale the image nicely */
}


